<!-- <div class="col-12 col-md-3 mx-auto"> 

					<div class="sidebar_section" style="  border: none;">
						<div class="sidebar_title">Category</div>
						<div class="sidebar_section_content">
							<table class="table">
								<tbody>
									<tr>
										<td class="category-item list-group-item" data-category="all"><a href="/categories/?category=">All</a></td>
									</tr>
									<% if(List.length){ for(i=0; i<List.length; i++){ %>
										<tr>
											<td class="category-item list-group-item" data-category="">
												<a href="/categories?category=<%= List[i]._id %>"><%= List[i].categoryName %></a>
											</td>
										</tr>
									<% }} %>
								</tbody>
							</table>
						</div>
					</div>
					
				</div> -->
