<%- include("../header.ejs")%>

<div class="text-center">
    <h5 class="p-3">OTP LOGIN</h5>
</div>

<div class="p-3">
    <form action="/otplogin" method="post">

        <div class="mb-3 text-center">
            <label for="email" class="form-label ">Email address</label>
           <div class="text-center d-flex justify-content-center">
            <input type="email" name="email" class="form-control text-center w-50 center-placeholder" id="emailForOTP"
                oninput="updateSecondEmailField()" placeholder="Enter email ID" required>
            </div> 

            <% if(!locals.message){%>
                <button class="btn p-1 mt-2 btn-light" id="sendOTPbutton" type="submit">send OTP</button>
                <% } else { %>
                    <button class="btn p-1 mt-2 btn-light" id="sendOTPbutton" type="submit">Re-send
                        OTP</button>
                    <% } %>


    </form>

</div>
<form class="formData text-center " action="/otpLoginVerify" method="post">

<label for="otp" class="form-label ">OTP</label>
<input type="email" name="email" class="form-control " id="emailOTPFill" placeholder="Enter email ID"hidden
    required>

   


    <div class="text-center d-flex justify-content-center">
        <input type="text" name="otp" class="form-control text-center w-50 center-placeholder" id="OTP" maxlength="4"
        placeholder="Enter otp" required>
        </div> 

<br>
<% if(locals.message){%>

    <div class="alert alert-warning text-center">
        <%=locals.message%>
    </div>
    <% } %>
        <div class="text-center mb-3">
            <button type="submit" class="btn btn-danger w-50">Login</button>
        </div>
        </form>
        <p class="text-center"><a  href="/login">Register</a></p>

</div>


<script>
    function updateSecondEmailField() {
    // Get the value from the first input field
    var firstEmailValue = document.getElementById("emailForOTP").value;

    // Set the value of the second input field
    document.getElementById("emailOTPFill").value = firstEmailValue;
}
</script>


<%- include("../footer.ejs")%>